.mega {color: white; text-align: center;}

.megab {color: black; text-align: center;}

.desc {text-align: center; margin-top: 30px; color: white;}

.row {
	display: flex;
  }
  
.column {
	flex: 25%;
	padding: 5px;
  }
ul {
	list-style-type: none;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	align-content: center;
}

table, th, td {
	border-bottom: 1px solid white;
	color: white;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 20px;
	text-align: center;
	margin: auto;
  }

tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

table {
	width: 75%;
	border-collapse: collapse;
}

th {
	border-width: 2.5px;
	background-color: rgba(255, 255, 255, 0.1);
}

img {
	margin-top: 50px;
}
select {
	margin-left: 30px;
	margin-right: 30px;
}
video {
	max-height: 720px;
	margin-top: 50px;
}

.lilink {
	width: 6.5%;
	margin:auto;
	width: 30%;
	margin-bottom: 15px;
	border-style: ridge;
	border-radius: 40px;
	border-color:#dadada;
	color: white;
}

li {
	width: 6.5%;
	margin:auto;
	width: 30%;
	margin-bottom: 45px;
	color: white;
	text-align: center;
}

li a {
	display: block;
	border-radius: 15px;
	color:white;
	background-color:rgba(0, 0, 0, 0.2);
	text-align:center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color:rgba(255, 255, 255, 0.1);
}

hr {background-color: #dadada;}

body {
	background-color: black;
}

body {
	background-image: url('bg/5.png');
	background-size: cover;
	background-size: 150%;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }

.foot {
	position: fixed;
	bottom: 0px;
	padding-left: 50px;
	margin-left: 0px;
	background-color: #fdfdfd;
	width: 98%;
}

.navi {
	width:70%;
}